
.header-bar .button.titlebutton.close,
.titlebar .button.titlebutton.close
{
	background-image: -gtk-scaled(url("assets/titlebutton-close-dark.png"),
		url("assets/titlebutton-close-dark@2.png"));
}
.header-bar .button.titlebutton.close:backdrop,
.titlebar .button.titlebutton.close:backdrop
{
	background-image: -gtk-scaled(url("assets/titlebutton-close-backdrop-dark.png"),
		url("assets/titlebutton-close-backdrop-dark@2.png"));
}
.header-bar .button.titlebutton.close:hover,
.titlebar .button.titlebutton.close:hover
{
	background-image: -gtk-scaled(url("assets/titlebutton-close-hover-dark.png"), 
		url("assets/titlebutton-close-hover-dark@2.png"));
}
.header-bar .button.titlebutton.close:active,
.titlebar .button.titlebutton.close:active
{
	background-image: -gtk-scaled(url("assets/titlebutton-close-active-dark.png"), 
		url("assets/titlebutton-close-active-dark@2.png"));
}
.header-bar .button.titlebutton.maximize,
.titlebar .button.titlebutton.maximize
{
	background-image: -gtk-scaled(url("assets/titlebutton-maximize-dark.png"), 
		url("assets/titlebutton-maximize-dark@2.png"));
}
.header-bar .button.titlebutton.maximize:backdrop,
.titlebar .button.titlebutton.maximize:backdrop
{
	background-image: -gtk-scaled(url("assets/titlebutton-maximize-backdrop-dark.png"), 
		url("assets/titlebutton-maximize-backdrop-dark@2.png"));
}
.header-bar .button.titlebutton.maximize:hover,
.titlebar .button.titlebutton.maximize:hover
{
	background-image: -gtk-scaled(url("assets/titlebutton-maximize-hover-dark.png"), 
		url("assets/titlebutton-maximize-hover-dark@2.png"));
}
.header-bar .button.titlebutton.maximize:active,
.titlebar .button.titlebutton.maximize:active
{
	background-image: -gtk-scaled(url("assets/titlebutton-maximize-active-dark.png"), 
		url("assets/titlebutton-maximize-active-dark@2.png"));
}
.header-bar .button.titlebutton.minimize,
.titlebar .button.titlebutton.minimize
{
	background-image: -gtk-scaled(url("assets/titlebutton-minimize-dark.png"), 
		url("assets/titlebutton-minimize-dark@2.png"));
}
.header-bar .button.titlebutton.minimize:backdrop,
.titlebar .button.titlebutton.minimize:backdrop
{
	background-image: -gtk-scaled(url("assets/titlebutton-minimize-backdrop-dark.png"), 
		url("assets/titlebutton-minimize-backdrop-dark@2.png"));
}
.header-bar .button.titlebutton.minimize:hover,
.titlebar .button.titlebutton.minimize:hover
{
	background-image: -gtk-scaled(url("assets/titlebutton-minimize-hover-dark.png"), 
		url("assets/titlebutton-minimize-hover-dark@2.png"));
}
.header-bar .button.titlebutton.minimize:active,
.titlebar .button.titlebutton.minimize:active
{
	background-image: -gtk-scaled(url("assets/titlebutton-minimize-active-dark.png"), 
		url("assets/titlebutton-minimize-active-dark@2.png"));
}

GtkSwitch.trough
{
	background-image: -gtk-scaled(url("assets/switch.png"), 
		url("assets/switch@2.png"));
}
.menu GtkSwitch.trough
{
	background-image: -gtk-scaled(url("assets/switch-dark.png"), 
		url("assets/switch-dark@2.png"));
}
.menu GtkSwitch.trough:active
{
	background-image: -gtk-scaled(url("assets/switch-active-dark.png"), 
		url("assets/switch-active-dark@2.png"));
}
.menu GtkSwitch.trough:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-insensitive-dark.png"), 
		url("assets/switch-insensitive-dark@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover GtkSwitch.trough,
.menu .menuitem:hover GtkSwitch.trough,
.list-row:selected GtkSwitch.trough,
GtkInfoBar GtkSwitch.trough
{
	background-image: -gtk-scaled(url("assets/switch-selected.png"), 
		url("assets/switch-selected@2.png"));
}
.header-bar GtkSwitch.trough,
.primary-toolbar GtkSwitch.trough
{
	background-image: -gtk-scaled(url("assets/switch-header-dark.png"), 
		url("assets/switch-header-dark@2.png"));
}
GtkSwitch.trough:active
{
	background-image: -gtk-scaled(url("assets/switch-active.png"), 
		url("assets/switch-active@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover GtkSwitch.trough:active,
.menu .menuitem:hover GtkSwitch.trough:active,
.list-row:selected GtkSwitch.trough:active,
GtkInfoBar GtkSwitch.trough:active
{
	background-image: -gtk-scaled(url("assets/switch-active-selected.png"), 
		url("assets/switch-active-selected@2.png"));
}
.header-bar GtkSwitch.trough:active,
.primary-toolbar GtkSwitch.trough:active
{
	background-image: -gtk-scaled(url("assets/switch-active-header-dark.png"), 
		url("assets/switch-active-header-dark@2.png"));
}
GtkSwitch.trough:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-insensitive.png"), 
		url("assets/switch-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover GtkSwitch.trough:insensitive,
.menu .menuitem:hover GtkSwitch.trough:insensitive,
.list-row:selected GtkSwitch.trough:insensitive,
GtkInfoBar GtkSwitch.trough:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-insensitive-selected.png"), 
		url("assets/switch-insensitive-selected@2.png"));
}
.header-bar GtkSwitch.trough:insensitive,
.primary-toolbar GtkSwitch.trough:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-insensitive-header-dark.png"), 
		url("assets/switch-insensitive-header-dark@2.png"));
}
GtkSwitch.trough:active:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-active-insensitive.png"), 
		url("assets/switch-active-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover GtkSwitch.trough:active:insensitive,
.menu .menuitem:hover GtkSwitch.trough:active:insensitive,
.list-row:selected GtkSwitch.trough:active:insensitive,
GtkInfoBar GtkSwitch.trough:active:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-active-insensitive-selected.png"), 
		url("assets/switch-active-insensitive-selected@2.png"));
}
.header-bar GtkSwitch.trough:active:insensitive,
.primary-toolbar GtkSwitch.trough:active:insensitive
{
	background-image: -gtk-scaled(url("assets/switch-active-insensitive-header-dark.png"), 
		url("assets/switch-active-insensitive-header-dark@2.png"));
}

.spinner { -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

.header-bar.selection-mode .selection-menu .arrow,
.header-bar.titlebar.selection-mode .selection-menu .arrow
{
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

GtkTreeView.view.expander { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
GtkTreeView.view.expander:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
GtkTreeView.view.expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

.menu .menuitem.arrow { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
.menu .menuitem.arrow:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

.entry.cursor-handle.top,
.cursor-handle.top
{
	-gtk-icon-source: -gtk-icontheme("selection-start-symbolic");
}
.entry.cursor-handle.bottom,
.cursor-handle.bottom
{
	-gtk-icon-source: -gtk-icontheme("selection-end-symbolic");
}

.check
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), 
		url("assets/checkbox-unchecked@2.png"));
}
.menu .check
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-dark.png"), 
		url("assets/checkbox-unchecked-dark@2.png"));
}
.menu .check:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-dark.png"), 
		url("assets/checkbox-unchecked-insensitive-dark@2.png"));
}
.menu .check:checked
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-dark.png"), 
		url("assets/checkbox-checked-dark@2.png"));
}
.menu .check:checked:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-dark.png"), 
		url("assets/checkbox-checked-insensitive-dark@2.png"));
}
.menu .check:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-selected-dark.png"), 
		url("assets/checkbox-mixed-selected-dark@2.png"));
}
.menu .check:inconsistent:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-selected-dark.png"), 
		url("assets/checkbox-mixed-insensitive-selected-dark@2.png"));
}
.check:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-dark.png"), 
		url("assets/checkbox-mixed-dark@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .check,
.menu .menuitem.check:hover,
GtkTreeView.view.check:selected,
.list-row:selected .check,
GtkInfoBar .check
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-selected.png"), 
		url("assets/checkbox-unchecked-selected@2.png"));
}
.check:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"),
		url("assets/checkbox-unchecked-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .check:insensitive,
.menu .menuitem.check:insensitive:hover,
GtkTreeView.view.check:insensitive:selected,
.list-row:selected .check:insensitive,
GtkInfoBar .check:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-selected.png"), 
		url("assets/checkbox-unchecked-insensitive-selected@2.png"));
}
.check:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), 
		url("assets/checkbox-mixed@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .check:inconsistent,
.menu .menuitem.check:inconsistent:hover,
GtkTreeView.view.check:inconsistent:selected,
.list-row:selected .check:inconsistent,
GtkInfoBar .check:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-selected.png"), 
		url("assets/checkbox-mixed-selected@2.png"));
}
.check:inconsistent:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), 
		url("assets/checkbox-mixed-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .check:inconsistent:insensitive,
.menu .menuitem.check:inconsistent:insensitive:hover,
GtkTreeView.view.check:inconsistent:insensitive:selected,
.list-row:selected .check:inconsistent:insensitive,
GtkInfoBar .check:inconsistent:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-selected.png"), 
		url("assets/checkbox-mixed-insensitive-selected@2.png"));
}
.check:checked
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), 
		url("assets/checkbox-checked@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .check:checked,
.menu .menuitem.check:checked:hover,
GtkTreeView.view.check:checked:selected,
.list-row:selected .check:checked,
GtkInfoBar .check:checked
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-selected.png"), 
		url("assets/checkbox-checked-selected@2.png"));
}
.check:checked:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), 
		url("assets/checkbox-checked-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .check:checked:insensitive,
.menu .menuitem.check:checked:insensitive:hover,
GtkTreeView.view.check:checked:insensitive:selected,
.list-row:selected .check:checked:insensitive,
GtkInfoBar .check:checked:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-selected.png"), 
		url("assets/checkbox-checked-insensitive-selected@2.png"));
}

.radio
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), 
		url("assets/radio-unchecked@2.png"));
}
.menu .radio
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-dark.png"), 
		url("assets/radio-unchecked-dark@2.png"));
}
.menu .radio:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive-dark.png"), 
		url("assets/radio-unchecked-insensitive-dark@2.png"));
}
.menu .radio:checked
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-dark.png"), 
		url("assets/radio-checked-dark@2.png"));
}
.menu .radio:checked:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive-dark.png"), 
		url("assets/radio-checked-insensitive-dark@2.png"));
}
.menu .radio:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-dark.png"), 
		url("assets/radio-mixed-dark@2.png"));
}
.menu .radio:inconsistent:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive-dark.png"), 
		url("assets/radio-mixed-insensitive-dark@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .radio,
.menu .menuitem.radio:hover,
GtkTreeView.view.radio:selected,
.list-row:selected .radio,
GtkInfoBar .radio
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-selected.png"), 
		url("assets/radio-unchecked-selected@2.png"));
}
.radio:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), 
		url("assets/radio-unchecked-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .radio:insensitive,
.menu .menuitem.radio:insensitive:hover,
GtkTreeView.view.radio:insensitive:selected,
.list-row:selected .radio:insensitive,
GtkInfoBar .radio:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive-selected.png"), 
		url("assets/radio-unchecked-insensitive-selected@2.png"));
}
.radio:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), 
		url("assets/radio-mixed@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .radio:inconsistent,
.menu .menuitem.radio:inconsistent:hover,
GtkTreeView.view.radio:inconsistent:selected,
.list-row:selected .radio:inconsistent,
GtkInfoBar .radio:inconsistent
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-selected.png"), 
		url("assets/radio-mixed-selected@2.png"));
}
.radio:inconsistent:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), 
		url("assets/radio-mixed-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .radio:inconsistent:insensitive,
.menu .menuitem.radio:inconsistent:insensitive:hover,
GtkTreeView.view.radio:inconsistent:insensitive:selected,
.list-row:selected .radio:inconsistent:insensitive,
GtkInfoBar .radio:inconsistent:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive-selected.png"), 
		url("assets/radio-mixed-insensitive-selected@2.png"));
}
.radio:checked
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), 
		url("assets/radio-checked@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .radio:checked,
.menu .menuitem.radio:checked:hover,
GtkTreeView.view.radio:checked:selected,
.list-row:selected .radio:checked,
GtkInfoBar .radio:checked
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-selected.png"), 
		url("assets/radio-checked-selected@2.png"));
}
.radio:checked:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), 
		url("assets/radio-checked-insensitive@2.png"));
}
WingpanelWidgetsIndicatorPopover.popover .menuitem:hover .radio:checked:insensitive,
.menu .menuitem.radio:checked:insensitive:hover,
GtkTreeView.view.radio:checked:insensitive:selected,
.list-row:selected .radio:checked:insensitive,
GtkInfoBar .radio:checked:insensitive
{
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive-selected.png"), 
		url("assets/radio-checked-insensitive-selected@2.png"));
}
.view.content-view.check:not(.list)
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-selectionmode.png"), 
		url("assets/checkbox-selectionmode@2.png"));
}
.view.content-view.check:checked:not(.list)
{
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-selectionmode.png"), 
		url("assets/checkbox-checked-selectionmode@2.png"));
}

.expander { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
.expander:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
.expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

.source-list.category-expander { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
.source-list.category-expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

.content-view.document-page { border-image: url("assets/thumbnail-frame.png") 3 3 6 4; }


